In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns",None)

In [2]:
dv=pd.read_csv("deliveries.csv")
dv

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

# Q:-batsman highest runs

In [3]:
group=dv.groupby("batsman")
group

In [4]:
dv.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
V Kohli      5434
SK Raina     5415
RG Sharma    4914
DA Warner    4741
S Dhawan     4632
Name: batsman_runs, dtype: int64

In [5]:
dv.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).tail()

batsman
IC Pandey      0
J Denly        0
P Raj          0
Sunny Gupta    0
L Ablish       0
Name: batsman_runs, dtype: int64

# Q-1)Batsman highest 4

In [6]:
dv

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [7]:
four=dv["batsman_runs"]==4
total_four=dv[four]

In [8]:
total_four.shape[0]

20392

In [9]:
total_four.groupby('batsman')["batsman_runs"].count().sort_values(ascending=False).head()

batsman
S Dhawan     526
SK Raina     495
G Gambhir    492
V Kohli      482
DA Warner    459
Name: batsman_runs, dtype: int64

# Q-2)Batsman highest 6

In [10]:
six=dv["batsman_runs"]==6
total_six=dv[six]

In [11]:
total_six.groupby('batsman')["batsman_runs"].count().sort_values(ascending=False).head()

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
Name: batsman_runs, dtype: int64

# Q-3)batsman both 4 and 6

In [12]:
four_six=dv[(dv["batsman_runs"]==6) | (dv["batsman_runs"]==4)]
TotalFourSix=four_six

In [13]:
TotalFourSix.groupby('batsman')["batsman_runs"].count().sort_values(ascending=False).head()

batsman
CH Gayle     703
SK Raina     690
V Kohli      673
DA Warner    640
RG Sharma    625
Name: batsman_runs, dtype: int64

# Q-4)batsman out highest time

In [14]:
t=dv[pd.notna(dv["player_dismissed"])]

In [15]:
t['player_dismissed'].

SyntaxError: invalid syntax (3145646626.py, line 1)

In [ ]:
dv["player_dismissed"].fillna("not out",inplace=True)

In [ ]:
outs=dv[dv["player_dismissed"]!="not out"]
outs

In [ ]:
outs.groupby('player_dismissed').size().sort_values(ascending=False).head()

# Q-5)Displaythe batsman who hit the most boundaries at last over

In [ ]:
last_over=dv[((dv["over"]==20) & ((dv["batsman_runs"]==4)|(dv["batsman_runs"]==6)))][["batsman","over","batsman_runs"]]
last_over

In [ ]:
last_over.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

# Q-6)Find the batsman who faced the most balls

In [ ]:
faced_ball=dv[['batsman','ball']]
faced_ball

In [ ]:
faced_ball.groupby('batsman')['ball'].count().sort_values(ascending=False)

# Q-7)last five over batsman strike rate is best

In [ ]:
last_over=dv[dv["over"]>15]
last_over

In [ ]:
#function-1

def run_score(batsman_name):
    vs=dv[dv['batsman']==batsman_name]
    return vs.groupby('match_id')["batsman_runs"].sum().max()

In [ ]:
run_score('V Kohli')

In [ ]:
dv

In [ ]:
outs=dv['player_dismissed'].count()
outs

In [ ]:
outs.groupby('batsman')

In [ ]:
dv

In [ ]:
total_balls=dv["ball"].sum()
total_balls

In [ ]:
total_runs=dv["total_runs"].sum()
total_runs

# Function Summary:-

In [ ]:
def batsman_info(dv,batsman_name):
    bm_ipl=dv[dv["batsman"]==batsman_name]
    total_runs=bm_ipl["batsman_runs"].sum()
    total_balls=bm_ipl.shape[0]
    four=bm_ipl[bm_ipl["batsman_runs"]==4].shape[0]
    six=bm_ipl[bm_ipl["batsman_runs"]==6].shape[0]
    matches=bm_ipl["match_id"].nunique()
    strike_rate = (total_runs / total_balls) * 100
    
    
    info={
          "batsman_name":batsman_name,
          "total_runs":total_runs,
          "balls":total_balls,
          "Fours": four,
          "Sixes": six,
          "Matches": matches,
          "Strike Rate": round(strike_rate, 2)
        
    }
    
    return pd.DataFrame([info])

In [ ]:
batsman_info(dv,"DA Warner")

In [ ]:
strike_rate=(total_runs/total_balls)*100
strike_rate

# HTML_TO_SAVE:-

In [17]:
dv

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [21]:
total_six=dv[dv['batsman_runs']==6]

In [43]:
total_six=dv[dv['batsman_runs']==6]


pivot=total_six.pivot_table(
     
     index='over',
     columns='ball',
     values='batsman_runs',
     aggfunc='count',
     fill_value=0,
     margins=True,
     margins_name='Total_sixes'
)

In [44]:
print(pivot)

ball            1     2     3     4     5     6    7   8  9  Total_sixes
over
1               7    12    27    31    24    20   12   1  0          134
2              26    30    35    43    45    42   10   5  0          236
3              63    46    57    52    48    58    8   2  1          335
4              49    61    51    81    54    53   11   1  0          361
5              54    56    82    64    62    60   10   2  0          390
6              61    82    44    65    56    66   11   1  0          386
7              27    45    34    44    51    28    3   3  0          235
8              44    47    55    49    53    39    7   0  0          294
9              70    56    56    58    52    35   11   0  1          339
10             43    38    60    43    52    54    9   1  0          300
11             59    70    62    54    61    56    8   0  0          370
12             70    58    72    63    65    52   11   1  0          392
13             67    87    58    80    75    65   10   2  0          444
14             83    85    79    74    65    71    7   3  0          467
15             68    93    83    74    64    86   11   1  0          480
16             77    96    95    91    91    78   15   2  0          545
17             84    88    86    87   103    78   20   3  0          549
18             91   111   112   115    94   101   17   1  1          643
19             82    90   114   103   111    98   31   6  3          638
20             99    95   106   113    88   102   24   5  0          632
Total_sixes  1224  1346  1368  1384  1314  1242  246  40  6         8170

In [42]:
pivot.to_html("six_summary.html")